@charset "utf-8";

:root {
  --main-color: #2957E2;
  --sub-color: #eee;
  --sub-font: 3rem;
}

html {
  /* 폰트 사이즈 10px 고정 */
  font-size: 62.5%;
}

body {
  background-color: var(--main-color);
  color: var(--sub-color);
  overflow-x: hidden;
}

#logo {
  z-index: 100;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--sub-color);
  color: var(--main-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  text-align: center;
  line-height: 80px;
  position: fixed;
  top: 20px;
  left: 20px;
  animation: logoFade 4s linear infinite;
  overflow: hidden;
}

@keyframes logoFade {
  0%,100% {opacity: 1;}
  50% {opacity: 0.5}
}

#logo>li {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 7rem;
  cursor: pointer;
  color: var(--main-color);
  transition: top 0.5s;
}

#logo>li:nth-child(1) {
  top: 0;
}

#logo>li:nth-child(2) {
  top: 100%;
}

#logo:hover>li:nth-child(1) {
  top: -100%;
}

#logo:hover>li:nth-child(2) {
  top: 0;
}

header {
  padding-top: 150px;
  height: 100vh;
  position: relative;
  font-size: 2rem;
}

nav {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.gnb {
  font-size: 4rem;
}

.gnb>li {
  position: relative;
}

.gnb>li::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1rem;
  width: 0;
  height: 100%;
  background-color: var(--sub-color);
  z-index: -1;
  transition: 0.5s;
}

.gnb>li:hover::before {
  width: 100%;
}

.gnb>li>a {
  transition: 0.5s;
  transform-origin: left center;
}

.gnb>li:hover>a {
  color: var(--main-color);
  transform: scale(1.3);
}

.title {
  font-size: 2rem;
  align-self: flex-end;
}

.title>li {
  margin: 2rem 0;
}

h1 {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14vw;
}
h1:before{
  content: 'PORTFOLIO';
  font-size: 9rem;
  color: transparent;
  -webkit-text-stroke: 2px var(--sub-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0.7;
}

.arrow-wrap {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 80px;
}

.arrow-wrap>.arrow-box {
  width: 100%;
  height: 100%;
  background-color: var(--sub-color);
  border-radius: 10px;
  transform: rotate(30deg);
    animation: rotateBox 10s linear infinite;
}

@keyframes rotateBox {
  0%{transform: rotate(0);}
  100%{transform: rotate(360deg);}
}

.arrow-wrap>.arrow {
  color: var(--main-color);
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.arrow-wrap>div {
  position: absolute;
  top: 0;
  left: 0;
}

/*공통사항*/
section {
  width: 90%;
  margin: 10rem auto;
}

/*about*/
section#about {
  margin-top: 10rem;
  font-size: 1.5rem;
}

#about .info {
  background-color: var(--sub-color);
  color: var(--main-color);
  padding: 2rem 4rem;
  border-radius: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#about .info>h2 {
  font-size: var(--sub-font);
  display: inline-block;
  position: relative;
  top: 0%;
  left: 0;
  color: var(--sub-color);
  -webkit-text-stroke: 1px var(--main-color);
  padding: 2rem 1rem;
  z-index: 1;
  margin: 2rem;
}

#about .info h2:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
  width: 50%;
  /* height: 100%; */
  aspect-ratio: 1/0.7;
  background-color: var(--main-color);
  border-radius: 20px;
  z-index: -1;
}

#about .info p{
  font-size: 2rem;
  top: 50%;
  margin-top: 2rem;
  text-align: right;
}
#about .word{
  margin: 5rem 0;
}
#about  .word h2{
  font-size: var(--sub-font);
}
#about  .word h2.bottom{
  text-align: right;
}
#about .keyword{}
#about .keyword > li{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
}
#about .keyword > li>p{
  /* font-size: 3rem; */
  font-size: 4vw;
  font-weight: bolder;
  padding: 1rem 2rem;
  border: 1px solid var(--sub-color);
  border-radius: 4rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}