@charset "utf-8";

body{
    height: 100vh;
    background-color: #fff;
    color: #333;
}
#wrap{
    width: 1200px;
    margin: 0px auto;
}
header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > nav{
    width: 50%;
}
header > nav> ul{
    width: 100%;
    display: flex;
    align-items: center;
}
.main-menu{
    flex: 1;
    text-align: center;
    position: relative;
    background-color: #ccc;
}
.main-menu a{
    padding: 10px 0;
}
.main-menu>a:hover{
    background-color: #222;
    color: #fff;
}
/* .main-menu>a:hover + .sub-menu{
    display: none;
} */
.sub-menu{
    display: none;
    position: absolute;
    width: 100%;
    background-color: #ddd;
}
.sub-menu >li >a:hover{
    background-color: #333;
    color: #fff;
}
section#slider{
    height: 300px;
    background-color: #555;
}
section#contents{
    height: 200px;
    display: flex;
    
}
section#contents> article{
    flex: 1;
}
.tabs{}
.tabs > .tab-menu > li{
    display: inline-block;
    padding: 3px 5px;
}
.tabs > .tab-menu > li.selected{
    background-color: #222;
    color: #fff;
}
.notice{
    padding: 0 20px;
}
.tabs>.tab-item> .notice >li{
    display: flex;
    align-items: center;
    gap: 10px;
}
.tab-item{
    position: relative;
    height: 130px;
    padding: 20px;
    background-color: #999;
}
.tab-item > ul{
    position: absolute;
    top: 30px;
    left: 0;
}
.notice > li> a{
    padding: 3px 0;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gallery{
    display: none;
    justify-content: space-around;
    gap: 10px;
}
.gallery a{
    width: 80%;
    margin: 0 auto;
}
.gallery img{
    width: 100%;
}
.banner, .link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: #fff;
}
footer{
    height: 100px;
    display: flex;
    
}
footer> .f-logo{
    width: 20%;
    text-align: center;
    line-height: 110px;
}
footer> .copyright{
    width: 60%;
    text-align: center;
    line-height: 100px;
}
footer> .sns{
    width: 20%;
}
footer> .sns > a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}