@charset "utf-8";
body{
    display: block;
}
/* header영역 */
header{
    margin: 1rem 0;
    background-image: linear-gradient(45deg, #00ffff, #4169e1);
    color: #fff;
}
header>h1{
    padding: 2rem;
}
header>.title{
    display: none;
}
/* main영역 */
main{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;
}
main > ul{
    width: 100%;
    max-width: 400px;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 1rem;
    float: right;
}
main > ul>li{
    flex: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
main >ul>li.on > a{
    background-image: linear-gradient(45deg, #00ffff, #4169e1);
    color: #fff;
    font-weight: bolder;
    box-shadow: 0 0 20px rgba(0,255,255,0.5);
}
main>ul>li>a{
    display: block;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 0.8rem;
    color: #888;
}
main > section{
    clear: both;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin: 4rem 0;
}
article{
    /* width: 100%; */
    flex: 1;
    background-color: #fff;
    padding: 0.8rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: #555;
}
/* article:nth-child(2) img{
    aspect-ratio: 1/0.8;
    object-fit: cover;
} */
article img{
    width: 100%;
}

article h2{
    font-size: 0.9rem;
    margin: 0.8rem 0;
}
article p{
    font-size: 0.7rem;
     text-align: justify; /*양쪽 정렬 */
    word-break: keep-all;
}

@media screen and (min-width:768px){
    main>section{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    header>.title{
        display: none;
    }
    article{
        /* width: 40%; */
        /*flex: 1 1 250px =>>
        1:남은 공간이 있으면 얼마나 늘릴지
        1:공간이 부족하면 얼만큼 줄일지
        250px: 기본크기
        */
        flex: 1 1 300px;
    }
}
@media  screen and (min-width: 1024px){
    body{
        display: flex;
        align-items: stretch;
    }
    header{
        margin: 0;
        width: 350px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }
    header >h1{
        font-size: 3rem;
        padding-top: 10rem;
    }
    header> .title{
        display: block;
    }
    header>.title>hr{
        margin-left: 2rem;
        width: 30%;
        outline: none;
        border: 2px solid #fff;
    }
    header>.title>P{
        padding: 0.5rem 2rem;
    }
    main{
        padding: 3rem;
        margin-left: 350px;
    }
    main>section{
        padding-bottom: 5rem;
    }
}

