@charset "utf-8";

main {
    width: 420px;
    height: 780px;
    background-color: #3F247E;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    color: aliceblue;
    flex-direction: column;
    position: relative;
}
main>.game{
    height: 100%;
    width: 80%;
    margin: 20px auto;
    position: relative;
}
main>.game>ul{
    bottom: 50px;

}
main>.game>ul>li{
    padding: 1rem;
    font-size: 1.3rem;
}
main>.game>ul>li:nth-child(odd){
    background-color: #9C3FFF;
    display: flex;
    justify-content: center;
    width: 100px;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    margin: 30px 0;
}
main>.game>ul>li:nth-child(even){
    background-color: #7159DB;
    display: flex;
    justify-content: center;
    width: 100px;
    border-radius: 30px;
    border-bottom-right-radius: 0;
    margin: 30px 0;
    margin-left:210px;
}
main>p{
    position: absolute;
    bottom: 80px;
    left: 20px;
}
main> .view{
    bottom: 5px;
    position: absolute;
    left: 0;
    width: 420px;
    display: flex;
}
main>.view>#word{
    margin:5px;
    width: 420px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #9C3FFF;
}
main>.view>#btn-in{
    position: absolute;
    right: 20px;
    bottom: 15px;
    width: 70px;
    height: 30px;
    border-radius: 20px;
    font-size: 1rem;
    border: 1px solid #9C3FFF;
    color: #3F247E;
}
